.section {
  scroll-margin-top: 12vh;
}
@media (max-width: 850px) {
  .section {
    scroll-margin-top: 10vh;
  }
}
.white-background {
  background-color: var(--light-color);
}
.blue-background {
  background-color: var(--primary-color);
}
.grey-background {
  background-color: var(--light-grey-color);
}
