.button {
  font-size: var(--fs-400);
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
  transition: 0.1s ease-in-out;
  text-decoration: none;
  position: relative;
  text-align: center;
}
@media (min-width: 40em) {
  .button {
    align-self: flex-start;
  }
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 2px rgba(32, 31, 31, 0.3);
}

/* button types */
.transparent_btn {
  color: var(--light-color);
  border: 0.1rem solid var(--light-color);
  background-color: transparent;
}

.white_btn {
  border: 0.1rem solid var(--light-color);
  background-color: var(--light-color);
  color: black;
}
.blue_btn {
  border: 0.1rem solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--light-color);
}

@keyframes slide {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
