.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px 0 rgba(32, 31, 31, 0.1);
  margin-block: 1rem;
}
.card img {
  height: 23.1rem;
  width: 100%;
}
.card h4 {
  font-size: var(--fs-600);
  margin-inline: 2rem;
}
.card p {
  font-size: var(--fs-400);
  margin-inline: 2rem;
  color: var(--grey-color);
}
.button {
  margin-top: auto;
  margin-bottom: 2rem;
  margin-inline: 2rem;
}
