.title_container {
  max-width: 43rem;
  margin-inline: auto;
  text-align: center;
  color: var(--light-color);

  transform: translateX(-100%);
  transition: all 1s;
  opacity: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.title_container h2 {
  font-size: var(--fs-800);
  max-width: 43rem;
  margin-inline: auto;
}
.title_container p {
  font-size: var(--fs-400);
}
.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  gap: 2rem;
  margin-top: 5rem;
}

.card {
  color: var(--light-color);
  box-shadow: none;

  transform: translateX(-100%);
  transition: all 1s;
  opacity: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.card img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}
.card h4 {
  text-align: center;
}
.card p {
  color: var(--light-color);
  text-align: center;
}

.card:nth-child(2) {
  transition-delay: 250ms;
}
.card:nth-child(3) {
  transition-delay: 500ms;
}
.card:nth-child(4) {
  transition-delay: 750ms;
}
.appear {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
}
