.page_container {
  background-color: var(--light-grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 10rem;
  height: 100%;
  flex-grow: 1;
}
@media (max-width: 660px) {
  .page_container {
    flex-direction: column-reverse;
  }
}
.container {
  flex-direction: column;
  display: flex;
  gap: 2rem;
}
.container p {
  font-size: var(--fs-800);
}
